{% extends 'base.html' %}
{% block body %}

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3 class="mt-5">Add Expense</h3>
      <form action="/addexpense" method="POST">
        <div class="form-group">
          <label>Date</label>
          <input type="date" name="date" id="date" class="form-control">
        </div>
        <div class="form-group">
          <label>Expense name</label>
          <input type="text" name="expensename" id="expensename" placeholder="Expense name" class="form-control">
        </div>
        <div class="form-group">
          <label>Expense amount</label>
          <input type="text" name="amount" id="amount" placeholder="Amount" class="form-control">
        </div>
        <div class="form-group">
          <label>Expense category</label>
          <select name="category" id="category" class="form-control">
            <option>Select category</option>
            <option value="food">Food</option>
            <option value="entertainment">Entertainment</option>
            <option value="business">Business</option>
            <option value="other">Other</option>
          </select>
        </div>
        <button type="submit" class="btn btn-danger">Add</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}